   /** Se colocar MAIN no lugar do BODY ele vai ficar dentro da caixa branca **/
   body {
    background-image: url('../imgs/jhin-camile.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../imgs/wave.png');
    background-size: 1000px 100px;

}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 10px;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 9px;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 8px;
    opacity: 0.2;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: 7px;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(55, 0, 255),
        0 0 82px rgb(55, 0, 255),
        0 0 92px rgb(55, 0, 255),
        0 0 102px rgb(55, 0, 255),
        0 0 151px rgb(55, 0, 255);
}

h1 {
    animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(68, 0, 255),
            0 0 80px rgb(68, 0, 255),
            0 0 90px rgb(68, 0, 255),
            0 0 100px rgb(68, 0, 255),
            0 0 150px rgb(68, 0, 255);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.-webkit-scrollbar{
width: 10px;
}



::-webkit-scrollbar {
width: 20px;
background-color: rgb(0,0, 0);
background-color: transparent;
opacity: 0.7  ;
}


::-webkit-scrollbar-track {
background-color: transparent;
background: rgba(0, 0, 0, 0.2);
}



::-webkit-scrollbar-thumb {
background-color: #752BFF;
opacity: 0.5;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar {
background-color: rgb(0,0, 0);
}


/** Retire a linha abaixo para aparecer a barra de scroll**/
::-webkit-scrollbar{
display: none;
}

.highlight{
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.highlight:before {
    content: "";
    opacity: 50%;
    position: absolute;
    top: -10px;
    left: -80px;
    height: 100px;
    width: 35px;
    background: white;
    transform: rotate(20deg);
}

.highlight:hover:before {
    left: 690px;
    transition: all 0.7s;
}
a {
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
    display: inline-block;
    position: relative;
  }

a:hover:after {
    width:100%;
    right: 0;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #a851e6b8;
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  }