
html { 
  background: url('../imgs/fundoindexblack.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
svg {
    width: 250px;
    height: 250px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }

.line-1{
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    text-align: center;
    justify-items: center;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* GAMBIARRA */
@media screen and (min-width: 601px) {
  .line-1 {
    font-size: 2vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .line-1{
    font-size: 5vw;
  }
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 18em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}