body {font-family: 'Istok Web', sans-serif;background: url("../imgs/fundoindexblack-min.webp") no-repeat #000;background-size: cover;min-height: 100%;margin: 0;}
.hero {position:relative; text-align: center; overflow: hidden; color: #fcfcfc; }
.hero h1 {font-family: 'Holtwood One SC', serif;font-weight: normal;font-size: 5.4em;margin:0 0 20px; text-shadow:0 0 12px rgba(0, 0, 0, 0.5);text-transform: uppercase;letter-spacing:-1px;}
.hero p {font-family: 'Abel', sans-serif;text-transform: uppercase; color: #EDB700; letter-spacing: 6px;text-shadow:0 0 12px rgba(0, 0, 0, 0.5);font-size: 1.2em;}
.hero-wrap {padding: 3.5em 10px;}
.hero p.intro {font-family: 'Holtwood One SC', serif;text-transform: uppercase;letter-spacing: 1px;font-size: 3em;margin-bottom:-40px;}
.hero p.year {color: #fff; letter-spacing: 20px; font-size: 34px; margin: -25px 0 25px;}
.hero p.year i {font-size: 14px;vertical-align: middle;}

body { 
  background-image: url('../imgs/fundoindexblack-min.webp') ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
  Outgoing connector
 */

 .with-connector:after {
  content: ' ';
  position: absolute;
  left: calc(100% + 0.5rem); /* participant size (includes margin) */
  width: 1.25rem; /* round margin-right */
  border: 2px solid #e2e8f0;
  border-left: none;
}

.with-connector:nth-child(odd):after {
  top: 50%;
  border-bottom: none;
}

.with-connector:nth-child(even):after {
  bottom: 50%;
  border-top: none;
}

/* 
  height formula for a given round connector: 
  connectorHeight(roundNumber) = (margin + (lineHeight + padding)/2) * r^(n-1)

  where:
  - margin = 8px (.m-2)
  - line-height = 24px (.leading-relaxed)
  - padding = 4px (.p-1)
*/ 
.round:nth-child(1) .with-connector:after {
  height: 25px;
}

.round:nth-child(2) .with-connector:after {
  height: 60px;
}

.round:nth-child(3) .with-connector:after {
  height: 100px;
}

.round:nth-child(4) .with-connector:after {
  height: 200px;
}

.round.round-winner .with-connector:after {
  width: 0;
}

/*
  Incoming connector
 */
.round + .round .with-connector:before {
  content: ' ';
  position: absolute;
  left: -1.75rem; /* competitor margin + current width */
  top: 50%;
  width: 1.25rem; /* round margin-left */
  border-top: 2px solid #e2e8f0;
}
/* 
  Byes
*/ 

.with-connector.with-bye {
  margin-top: 33px;
  margin-bottom: 33px;
}

.round .with-connector.with-bye:after {
  height: 0;
}

.with-connector.with-bye + .with-connector {
  display: none;
}

/* second option for byes */
/*
.with-bye + .with-connector {
  visibility: hidden
}
*/

/* third option for byes */
/*
.with-bye,
.with-bye + .with-connector {
  visibility: hidden
}

.round .with-connector.from-bye:before {
  width: 0
}
*/