*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  a {
    color:#00b6ca;
    text-decoration: none;
    padding-bottom: 2px;
    display: inline-block;
    position: relative;
  }

  a:hover:after {
    width:100%;
    right: 0;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    background: #00b6ca;
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 0;
  } 



#particles-js{
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.logo{
    position: relative;
    font-size: 5em;
    color: #fff;
    text-shadow: 0 0 50px #0f0,
    0 0 100px #0f0,
    0 0 150px #0f0,
    0 0 200px #0f0,
    0 0 250px #0f0;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}