body {
  background-image: url("../imgs/fundoindexblack-min.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

iframe {
  width: 700px;
  height: 500px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  iframe {
    width: 750px;
    height: 500px;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  iframe {
    width: 300px;
    height: 300px;
  }
}